aiosqlite
alembic
asyncpg
authlib
email-validator
fastapi
httpx
itsdangerous
jose
neo4j
passlib[bcrypt]
pgvector
psycopg2-binary
pydantic[email]
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy[asyncio]
uvicorn[standard]
